<form action="/change" method="get">
  <div class="form-group">
    <label for="userChange">Enter change:</label>
    <input type="number" class="form-control" name="userChange" id="userChange">
  </div>
  <button type="submit" class="btn btn-info">Get Change</button>
</form>
